<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Todo app</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	  <a class="navbar-brand" href="{% url 'home'%}">To-do List</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>


	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto">
	      
	      <li class="nav-item">
	        <a class="nav-link" href="{% url 'about'%}">About Me....</a>
	      </li>
	      
	    </ul>
	    <form class="form-inline my-2 my-lg-0" method="POST">
	    	{% csrf_token %}
	      <input class="form-control mr-sm-2" type="search" placeholder="Item..." aria-label="Search" name="item">
	      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Add to list</button> 
	    </form>
	  </div>
	</nav>
	<br/>
	<div class="container">
		{% block content %}

	    {% endblock %}
	</div>

    

	<script src="{% static 'js/jquery-3.3.1.min.js' %} "></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    
</body>

</html>